@font-face {
    font-family: canter;
    src: local(bttf_font), url('../fonts/canter_light.otf') format('opentype');
}

.container {
    width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
}

.orange {
    color: #E8910C;
    background-color: #E8910C;
}

.green {
    color: #AEEE00;
    background-color: #AEEE00;
}

.blue {
    color: #01B0F0;
    background-color: #01B0F0;
}

.pink {
    color: #FF358B;
    background-color: #FF358B;
}

.menu-item {
    height:30px;
}

.menu-item > div {
    height: inherit;

}

.menu-item-expanded {
    background-color: #262626;
    height: 634px;
}

.menu-title {
    color: #262626;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 30px; 
}

h3.menu-title {

    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;  
}

.menu-item h3.menu-title {
    visibility: hidden;
}

.menu-item:hover h3.menu-title, .menu-item.hovered h3.menu-title {
    visibility: visible;
    opacity: 1.0;
}

.menu-item:hover, .menu-item.hovered{
    opacity: 0.5;
    cursor: pointer;
}

/* General expanded */
.menu-item-expanded .expanded-content {
    display: block;
}

.menu-item-expanded .collapsed-content {
    display: none;
}


/*General collapsed*/
.menu-item .collapsed-content {
    display: block;
}

.menu-item .expanded-content {
    display: none;
}

/* Splash page general */

.orange h1 {

    font-family: canter;
    margin: 0px;
    display: inline-block;
}


/* Splash page exanded */
.menu-item-expanded.orange .big-title {
    
    font-size: 430px;   
    height: 370px;  
    visibility: visible; 
}

.menu-item-expanded.orange #mini-title {
    display: none;
}

.menu-item-expanded.orange h2 {

    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 300;

    margin-top: 0px;
    color: #ACACAC;
}

.menu-item-expanded #splash-title {

    display: block;
    height: 370px;
    margin-top: 50px;
}


/* Splash page collapsed*/
.menu-item.orange #mini-title {
    font-size: 24px;
    color: #262626;
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 4px;
    display: block;
}

/*Projects expanded */

.green-box {
    border: 1px solid #AEEE00;
    background-color: rgba(207, 207, 207, .2);
}

div.info-writing {
    margin-top: 10px;
    color: white;
    height: 337px;
    padding: 15px 15px;
}

.carousel.project-images {
    height: 370px;
}

.carousel.project-images img {
    margin: 25px auto;
    height: 310px;
    box-shadow: 0px 5px 5px black;
}

.carousel-control {
    width: 10%;
}

.carousel-indicators {
    margin-bottom: 5px;
    bottom: 0px;
}

.carousel.project-picker {
    margin-bottom: 0px;
    padding: 0px;
    height: 118px;
}

.project-filter {

    margin-top: 20px;
    margin-bottom: 10px;
}

.project-picker div.carousel-inner {
    height : 118px;
}

.carousel.project-picker .item {
    height: 118px;
    padding-left: 20px;
    padding-right: 20px;
}

h1.project-title,  h2.project-subtitle {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
}

a.thumbnail, div.empty-thumbnail {
    height: 75px;
    width: 100px;
    margin-top: 15px;
}

a.thumbnail {
    box-shadow: 0px 3px 3px black;
}

div.empty-thumbnail {
   background-color: rgba(207, 207, 207, .2); 
}

.nav {
    border-bottom: none;
}

.nav-tabs > li {
    margin-right: 5px;
    border-bottom: 1px solid white;
}

.nav-tabs > li  > a {
    border-radius: 0px;
    color: white;
    padding: 0px 15px;
    margin-right: 0px;
}

.nav-tabs > li.active {
    border-bottom: 4px solid #AEEE00;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #AEEE00;
    background-color: transparent;
    border: none;
}

